.my-stories-page {
  width: 100%;              /* take up full width */
  /* Use full viewport height minus header and footer heights */
  min-height: calc(100vh - 300px); /* adjust if header/footer heights change */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px 20px; 

}

